body {
    margin: 0;
    font-family: 'Wix Madefor Display', sans-serif;
    background: linear-gradient(135deg, #92f2ff 30%, #8fff8d 100%);
    background-attachment: fixed;
    display: flex;
    flex-direction: row; /* Arrange children horizontally */
    justify-content: flex-start; /* Start children from the left */
    
    height: 100vh; /* Ensure the body takes the full viewport height */
    overflow: hidden; /* Hide any overflow */
  
}

#sidebar {
    max-height: calc(100% - 4%); /* Subtract the total margin from the height */
    min-width: 15%;
    padding: 20px;
    
    margin-top: 2%;
    margin-bottom: 2%;
    background-color: #fff; /* White */
    color: #19c0d6; /* Light Blue */
    padding: 20px;
    box-sizing: border-box;
    border-top-right-radius: 20px; /* Adjust as needed */
    border-bottom-right-radius: 20px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); /* Box shadow for the floating effect */
    
}

.logo {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    color: #2ecade; /* Light Blue */
    padding-bottom: 20px;
}

.menu {
    list-style: none;
    padding: 0;
    text-align: center;
}

.menu li {
    position: relative;
    padding: 5px; /* Adjust as needed */
    
}

.menu li a {
    color: #3dcde0; /* Light Blue */
    text-decoration: none;
    font-size: 18px;
    position: relative;

}


.menu li a:hover {
    color: #03d48b; /* Green */
    text-decoration: none;
}

.menu li a::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    background: #03d48b; /* Green */
    bottom: 0;
    left: 0;
    transition: width .3s;
}

.menu li a:hover::after {
    width: 100%;
}

.screen {
    position: relative;
    height: 105%; /* Adjust as needed */
    left: 1%;
    right: 1%;
    background: rgb(255, 255, 255);
    padding: 5px;
    border-radius: 7px; 
    
    
}

.menu li.current a,
.menu li.current a:hover {
    color: #fff; /* White */
}

.menu li.current .screen {
    background: linear-gradient(135deg, #1ad0e8 30%, #4aea47 100%);
}

.menu li.current a::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    background: none; 
    bottom: 0;
    left: 0;
    transition: width .3s;
}

.menu li.current a:hover::after {
    width: 100%;
}

#content {
    position: relative;
    max-height: calc(100% - 4%); /* Subtract the total margin from the height */
    min-width: 75%;
    padding: 20px;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 2%;
    margin-bottom: 2%;
    background-color: #fff; /* White */
    border-radius: 20px; /* Rounded corners */
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); /* Box shadow for the floating effect */
    display: flex; /* Use flexbox to center the content vertically and horizontally */
    justify-content: center; /* Center the content horizontally */
    align-items: center; /* Center the content vertically */
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
    overflow: hidden; /* Add scrollbar only when the content overflows */
}


.content-container {
    
    overflow: auto;
    padding-left: 5%;
    padding-right: 5%;
    text-align: center; /* Center the text within the content container */
    max-height: 100%;
}

.slogan, .subheading {
    font-size: 24px;
    font-weight: bold;
    color: #00a4b9; /* Light Blue */
    margin-bottom: 20px;
}



.preview, .mission {
    font-size: 16px;
    color: #00adc3; /* Light Blue */
    line-height: 1.5;
}

/* This will style the scrollbar for the div with the id of 'content' */

.content-container::-webkit-scrollbar {
    width: 10px; /* width of the entire scrollbar */
}

.content-container::-webkit-scrollbar-track {
    background: #e8f8f4; /* color of the tracking area */
    border-radius: 10px;
}

.content-container::-webkit-scrollbar-thumb {
    background: #92f2ff; /* color of the scroll thumb */
    border-radius: 10px; /* roundness of the scroll thumb */
    
    transition: all 2s ease-in;
    
}

.content-container::-webkit-scrollbar-thumb:hover {
   
    background: #92ffeb; /* color of the scroll thumb when hovering */
}





